{#
Pitchayanat
(Fres)
670510670
sec002
#}
{% for anime in animes %}
<tr class="anime-row">
    <td class="col-cover">
        <img alt="{{ anime.title_english }}" class="anime-cover" src="{{ anime.image_url }}" />
    </td>
    <td class="col-title">
        <span class="anime-title">{{ anime.title_english }}</span>
        {# TODO: Use a Jinja2 for loop to display genres #}
        <div class="flex gap-2 mt-1">
            {% if anime.genres == [] %}
                <span class="anime-genre">N/A</span>
            {% endif %}
            {% for anime in anime.genres %}
                <span class="anime-genre">{{ anime }}</span>
            {% endfor %}
        </div>

    </td>
    <td class="col-year">{{ anime.year }}</td>
    <td class="col-ep">{{ anime.episodes }}</td>
    <td class="col-synopsis">
        {{ anime.synopsis }}
    </td>
    <td class="col-rating">
        <div class="rating-badge">
            <span class="material-symbols-outlined rating-star">star</span>

            <span class="rating-val">{{ anime.score }}</span>
        </div>
    </td>
</tr>
{% endfor %}